# iPad Weigou没有使用Mustache，因此不需要
# 同时也不需要weigou.config.js文件
third_party_files=None
# css输出到静态文件，不要合并到js里面去
ad_style_wrapper=None
# 采用最新的closure compiler jar
compiler_jar=externs/sdcfe/tools/lib/gcc.jar
# index.html的模板文件
output_file_template=src/ad/impl/weigou/ipad/index.tpl
# closure-compiler.jar的配置
# GCC_FLAGS_formatting=PRETTY_PRINT
GCC_FLAGS_define="ad.impl.weigou.dist.MOBILE=false"
GCC_FLAGS_define="ad.impl.weigou.dist.PC=true"
GCC_FLAGS_define="ad.impl.weigou.dist.PC_1=false"
GCC_FLAGS_define="ad.impl.weigou.dist.IPAD=true"
