/**
 * @author chenjiawei01@baidu.com
 **/

@import-once "mixins.less";

#canvas {
    width: 518px;
    padding: 9px;
    border: 1px solid #e3e3e3;
    border-bottom-color: #e0e0e0;
    border-right-color: #ececec;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -o-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    margin-bottom: 20px;
    font: 12px/1.5 arial,sans-serif;

    .ad-block-0-0 {
        padding-bottom: 10px; 
    }
    .ad-block-0-1 {
        .gain-bfc();
        position: relative;
        padding-bottom: 15px;
    }
    .ad-block-0-3 {
        padding-bottom: 5px;
    } 

    .ad-block-0-0-0 {
        .ad-widget-title {
            a {
                color: #00c;
            }
        }
    }

    .ad-block-0-1-0 {
        float: left;
        margin-right: 10px;
        .ad-widget-video {
            width: 254px;
            height: 143px;
            object, embed {
                display: block;
            }
        }
    }
    .ad-block-0-1-1 {
        float: left;
        width: 254px;
    }
    .ad-block-0-1-1-0 {
        .ad-widget-small-head {
            .ec-description {
                color: #333;
                text-indent: 2em;
                a {
                    color: #00c;
                }
            }
            .ec-site {
                text-indent: 0;
                a {
                    color: #666;
                }
                .ec-date {
                    display: none;
                }
            }
        }
    }
    .ad-block-0-1-1-1 {
        position: absolute;
        bottom: 15px;
        right: 0;
        width: 254px;
        .ad-widget-button-list {
            table {
                table-layout: fixed;
                td {
                    padding: 8px 0 0 10px;
                    &.ec-first {
                        padding-left: 0;
                    }
                    .ec-link-wrapper {
                        background: #f8f8f8;
                        border-color: #e5e5e5;
                    }
                }
            }
        }
    }

    .ad-block-0-2-0 {
        .ad-widget-tab-container {
            .ec-tab-head {
                margin: 0px;
                background: #f8f8f8;
                padding: 0px;
                height: 28px;
                overflow: hidden;
                width: 518px;
                li {
                    margin: 0px;
                    height: 28px;
                    border-left: 1px solid #f8f8f8;
                    border-right: 1px solid #f8f8f8;
                    border-top: 2px solid #f8f8f8;
                    _border-color:tomato;
                    _filter:chroma(color=tomato);
                    a {
                        background: none;
                        color: #333;
                        height: 10px;
                        line-height: 10px;
                        *line-height: 14px;
                        border: none;
                        border-right: 1px solid #333;
                        margin-top: 9px;
                        padding: 0px;
                    }
                }
                .ec-current-tab{
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    &.ec-tab-list-first {
                        border-left: 1px solid #f6f6f6;
                    }
                    &.ec-tab-list-last {
                        border-right: 1px solid #f6f6f6;
                    }
                    a {
                        color: #fff;
                        height: 28px;
                        line-height: 28px;
                        background: #e22828;
                        margin-top: 0;
                        border: none;
                    }
                }
                .ec-previous-tab,
                .ec-tab-list-last {
                    a {
                        border-right:none; 
                    }
                }
            }
            .ec-tab-body {
                .gain-bfc();
            }
        }

        .ad-widget-tab-cont {
            padding: 10px 0;
            .ec-brand-pic {
                width: auto;
                height: auto;
                padding: 0;
                margin-right: 10px;
                img {
                    width: 254px;
                    height: 102px;
                }
            }
            .ec-td-border {
                width: auto;
                border-right: 0;
                .ec-brand-intro {
                    padding: 0;
                    position: relative;
                }
                .ec-des-more {
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 125px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                    background: #e22828 url(//bs.baidu.com/adtest/11e557c1f72d73eb5f2d959d80208311.png) no-repeat 15px center;
                }
            }
        }
        .ad-widget-standard-tab-cont {
            position: relative;
            padding: 10px 0;
            .ec-img img {
                width: 254px;
                height: 102px;
            }
            .ec-description {
                width: 254px;
                height: 102px;
                p {
                    padding-bottom: 11px;
                }
                ul {
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    width: 254px;
                    li {
                        width: 50%;
                        margin-top: 0;
                        text-align: left;
                        line-height: 21px;
                    }
                }
            }
        }
        .ad-widget-image-cartoon {
            width: 518px;
            .ec-item-wrapper {
                width: 518px;
                height: 122px;
                .ec-item {
                   height: 122px;
                }
            }
            .ec-arrow {
                width: 22px;
                height: 37px;
                bottom: 42px;
            }
        }
    }

    .ad-block-0-3-0 {
        .ad-widget-button-group {
            padding: 5px 0;
            background: #9e9e9e;
            table td {
                border: 0;
                height: 16px;
                line-height: 16px;
                a {
                    display: block;
                    border-right: 1px solid #fff;
                    color: #fff;
                    line-height: 1;
                    text-decoration: none;
                }
                &.ec-last a {
                    border-right: 0;
                }
            }
        }
    }
}