/**
 * @author chenjiawei01@baidu.com
 **/
#canvas {
  width: 518px;
  padding: 9px;
  border: 1px solid #e3e3e3;
  border-bottom-color: #e0e0e0;
  border-right-color: #ececec;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.072);
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.072);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.072);
  -o-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.072);
  margin-bottom: 20px;
  font: 12px/1.5 arial, sans-serif;
}
#canvas .ad-block-0-0 {
  padding-bottom: 10px;
}
#canvas .ad-block-0-1 {
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-bottom: 15px;
}
#canvas .ad-block-0-3 {
  padding-bottom: 5px;
}
#canvas .ad-block-0-0-0 .ad-widget-title a {
  color: #00c;
}
#canvas .ad-block-0-1-0 {
  float: left;
  margin-right: 10px;
}
#canvas .ad-block-0-1-0 .ad-widget-video {
  width: 254px;
  height: 143px;
}
#canvas .ad-block-0-1-0 .ad-widget-video object,
#canvas .ad-block-0-1-0 .ad-widget-video embed {
  display: block;
}
#canvas .ad-block-0-1-1 {
  float: left;
  width: 254px;
}
#canvas .ad-block-0-1-1-0 .ad-widget-small-head .ec-description {
  color: #333;
  text-indent: 2em;
}
#canvas .ad-block-0-1-1-0 .ad-widget-small-head .ec-description a {
  color: #00c;
}
#canvas .ad-block-0-1-1-0 .ad-widget-small-head .ec-site {
  text-indent: 0;
}
#canvas .ad-block-0-1-1-0 .ad-widget-small-head .ec-site a {
  color: #666;
}
#canvas .ad-block-0-1-1-0 .ad-widget-small-head .ec-site .ec-date {
  display: none;
}
#canvas .ad-block-0-1-1-1 {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 254px;
}
#canvas .ad-block-0-1-1-1 .ad-widget-button-list table {
  table-layout: fixed;
}
#canvas .ad-block-0-1-1-1 .ad-widget-button-list table td {
  padding: 8px 0 0 10px;
}
#canvas .ad-block-0-1-1-1 .ad-widget-button-list table td.ec-first {
  padding-left: 0;
}
#canvas .ad-block-0-1-1-1 .ad-widget-button-list table td .ec-link-wrapper {
  background: #f8f8f8;
  border-color: #e5e5e5;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head {
  margin: 0px;
  background: #f8f8f8;
  padding: 0px;
  height: 28px;
  overflow: hidden;
  width: 518px;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head li {
  margin: 0px;
  height: 28px;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  border-top: 2px solid #f8f8f8;
  _border-color: tomato;
  _filter: chroma(color=#ff6347);
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head li a {
  background: none;
  color: #333;
  height: 10px;
  line-height: 10px;
  *line-height: 14px;
  border: none;
  border-right: 1px solid #333;
  margin-top: 9px;
  padding: 0px;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-current-tab {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-current-tab.ec-tab-list-first {
  border-left: 1px solid #f6f6f6;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-current-tab.ec-tab-list-last {
  border-right: 1px solid #f6f6f6;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-current-tab a {
  color: #fff;
  height: 28px;
  line-height: 28px;
  background: #e22828;
  margin-top: 0;
  border: none;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-previous-tab a,
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-head .ec-tab-list-last a {
  border-right: none;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-container .ec-tab-body {
  overflow: hidden;
  zoom: 1;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont {
  padding: 10px 0;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont .ec-brand-pic {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont .ec-brand-pic img {
  width: 254px;
  height: 102px;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont .ec-td-border {
  width: auto;
  border-right: 0;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont .ec-td-border .ec-brand-intro {
  padding: 0;
  position: relative;
}
#canvas .ad-block-0-2-0 .ad-widget-tab-cont .ec-td-border .ec-des-more {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 125px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #e22828 url(//bs.baidu.com/adtest/11e557c1f72d73eb5f2d959d80208311.png) no-repeat 15px center;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont {
  position: relative;
  padding: 10px 0;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont .ec-img img {
  width: 254px;
  height: 102px;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont .ec-description {
  width: 254px;
  height: 102px;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont .ec-description p {
  padding-bottom: 11px;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont .ec-description ul {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 254px;
}
#canvas .ad-block-0-2-0 .ad-widget-standard-tab-cont .ec-description ul li {
  width: 50%;
  margin-top: 0;
  text-align: left;
  line-height: 21px;
}
#canvas .ad-block-0-2-0 .ad-widget-image-cartoon {
  width: 518px;
}
#canvas .ad-block-0-2-0 .ad-widget-image-cartoon .ec-item-wrapper {
  width: 518px;
  height: 122px;
}
#canvas .ad-block-0-2-0 .ad-widget-image-cartoon .ec-item-wrapper .ec-item {
  height: 122px;
}
#canvas .ad-block-0-2-0 .ad-widget-image-cartoon .ec-arrow {
  width: 22px;
  height: 37px;
  bottom: 42px;
}
#canvas .ad-block-0-3-0 .ad-widget-button-group {
  padding: 5px 0;
  background: #9e9e9e;
}
#canvas .ad-block-0-3-0 .ad-widget-button-group table td {
  border: 0;
  height: 16px;
  line-height: 16px;
}
#canvas .ad-block-0-3-0 .ad-widget-button-group table td a {
  display: block;
  border-right: 1px solid #fff;
  color: #fff;
  line-height: 1;
  text-decoration: none;
}
#canvas .ad-block-0-3-0 .ad-widget-button-group table td.ec-last a {
  border-right: 0;
}
