/**
 * src/ad/impl/coca_cola.less ~ 2013-11-04 14:22:11
 * @author dingguoliang01
 * @version $Revision: 11222 $
 * @description
 * coca_cola样式文件
 **/
#canvas {
  margin-bottom: 20px;
  font: 13px/1.5 arial, sans-serif;
  width: 528px;
  border: 6px solid #cccccc;
}
#canvas .ad-block-0 {
  overflow: hidden;
  _zoom: 1;
  margin: 0 0 10px 6px;
}
#canvas .ad-block-0 .ad-block-0-1 {
  margin-top: 4px;
}
#canvas .ad-block-0 .ad-block-0-1-0 {
  float: left;
}
#canvas .ad-block-0 .ad-block-0-1-1 {
  margin-left: 9px;
  float: left;
  width: 255px;
}
#canvas .ad-block-1 {
  background-color: #fafafa;
}
#canvas .ad-widget-section {
  border-bottom: 1px solid #F5F5F5;
  height: 26px;
  line-height: 26px;
  text-indent: 8px;
  margin: 0;
}
#canvas .ad-widget-section .ec-title {
  height: 26px;
  margin: 0;
}
#canvas .ad-widget-video {
  width: 255px;
  height: 143px;
}
#canvas .ad-widget-small-weibo {
  padding-top: 6px;
}
#canvas .ad-widget-small-weibo .ec-weibo-text {
  height: 18px;
  overflow: hidden;
}
#canvas .ad-widget-button-group {
  background-color: #ceab97;
  padding: 3px 0;
}
#canvas .ad-widget-button-group td {
  border-right: 1px #dcc6b9 solid;
}
#canvas .ad-widget-button-group a {
  color: #fff;
}
#canvas .ad-widget-image-normal {
  padding-top: 1px;
}
#canvas .ad-widget-image-normal .ec-opacity-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 23px;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#canvas .ad-widget-image-normal span {
  position: absolute;
  color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  line-height: 23px;
}
#canvas .ad-widget-image-normal a {
  width: 132px;
  height: 140px;
  margin: 0;
  outline: none;
}
#canvas .ad-widget-image-normal img {
  width: 132px;
  height: 140px;
  border: none;
}
#canvas .ad-widget-image-normal .ec-last {
  margin-right: 0;
}
.ec-cocacola-fwc .ad-widget-video {
  width: 540px;
  height: 304px;
  position: absolute;
  top: 76px;
  left: 20px;
}
.ec-cocacola-fwc .ad-widget-multi-video-thunbnail {
  width: 230px;
  height: 208px;
  position: absolute;
  top: 171px;
  left: 580px;
}
.ec-cocacola-fwc .ec-thunbnail-bg {
  display: block;
  width: 230px;
  height: 208px;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ec-cocacola-fwc .ec-thunbnail-cont {
  position: absolute;
  top: 0;
  left: 0;
}
.ec-cocacola-fwc .ec-item,
.ec-cocacola-fwc .ec-item img {
  width: 100px;
  height: 56px;
}
.ec-cocacola-fwc .ec-item {
  margin: 10px 0 0 10px;
  cursor: pointer;
  position: relative;
}
.ec-cocacola-fwc .ec-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #000;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.ec-cocacola-fwc .ec-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  color: #fff;
}
.ec-cocacola-fwc .ec-play-btn {
  position: absolute;
  top: 30px;
  text-align: center;
  left: 0;
  color: #fff;
  width: 40px;
  height: 18px;
  line-height: 18px;
  margin-left: 10px;
  background: #2C99FF;
}
.ec-cocacola-fwc .ec-tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 56px;
  color: #fff;
}
.ec-cocacola-fwc .ec-close {
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  background: url(//bs.baidu.com/adtest/7e5ad199871b95f37aa6648094d3ccf1.jpg) no-repeat;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.ec-cocacola-fwc .ec-close:hover {
  background: url(//bs.baidu.com/adtest/bfab47358ba162de83c30607f738205e.jpg) no-repeat;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* vim: set ts=4 sw=4 sts=4 tw=100: */
