/**
 * src/ad/impl/yaying2.less ~ 2013-11-04 14:22:11
 * @author shaojunjie, xiongjie
 * @version $Revision: 11222 $
 * @description
 * yaying2样式文件
 **/
#canvas {
  margin-bottom: 20px;
  font: 13px/1.5 arial, sans-serif;
  width: 524px;
  border: 6px solid #ecdbd1;
}
#canvas .ad-block-0 {
  overflow: hidden;
  _zoom: 1;
  margin-bottom: 6px;
}
#canvas .ad-widget-video {
  width: 220px;
  height: 190px;
}
#canvas .ad-block-0-0 {
  float: left;
}
#canvas .ad-block-0-1 {
  float: right;
  width: 294px;
  margin-top: 4px;
}
#canvas .ad-widget-small-weibo {
  padding-top: 6px;
}
#canvas .ad-widget-small-weibo .ec-weibo-text {
  height: 36px;
  overflow: hidden;
}
#canvas .ad-widget-button-group {
  background-color: #ceab97;
  padding: 3px 0;
}
#canvas .ad-widget-button-group td {
  border-right: 1px #dcc6b9 solid;
}
#canvas .ad-widget-button-group a {
  color: #fff;
}
#canvas .ad-block-2 {
  margin-top: 4px;
}
#canvas .ad-widget-image-normal .ec-opacity-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
  background-color: #bc937d;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
#canvas .ad-widget-image-normal span {
  position: absolute;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  line-height: 24px;
}
#canvas .ad-widget-image-normal a {
  width: 127px;
  margin-right: 5px;
}
#canvas .ad-widget-image-normal img {
  border: none;
}
#canvas .ad-widget-image-normal .ec-last {
  margin-right: 0;
}
.ec-yaying-fwc .ad-widget-float-window-container .ec-cont {
  top: 136px;
}
.ec-yaying-fwc .ad-widget-float-window-container .ad-widget-video {
  position: absolute;
  left: 35px;
  width: 400px;
  height: 250px;
}
.ec-yaying-fwc .ad-widget-float-window-container .ec-fwcon-1 {
  background-color: #302724;
  width: 208px;
  height: 240px;
  position: absolute;
  left: 450px;
  padding: 5px 8px 5px 16px;
}
.ec-yaying-fwc .ad-widget-float-window-container .ad-widget-image-normal a {
  width: 104px;
  margin: 0 0 7px;
}
.ec-yaying-fwc .ad-widget-float-window-container .ad-widget-image-normal a img {
  border: none;
  width: 97px;
  height: 116px;
}
/* vim: set ts=4 sw=4 sts=4 tw=100: */
