/**
 * src/ad/impl/yaying2.less ~ 2013-11-04 14:22:11
 * @author shaojunjie, xiongjie
 * @version $Revision: 11222 $
 * @description
 * yaying2样式文件
 **/

@import-once "mixins.less";

#canvas {
    margin-bottom: 20px;
    font: 13px/1.5 arial, sans-serif;
    width: 524px;
    border: 6px solid #ecdbd1;

    .ad-block-0 {
        overflow: hidden;
        _zoom: 1;
        margin-bottom: 6px;
    }
    .ad-widget-video {
        width: 220px;
        height: 190px;
    }
    .ad-block-0-0 {
        float: left;
    }
    .ad-block-0-1 {
        float: right;
        width: 294px;
        margin-top: 4px;
    }
    .ad-widget-small-weibo {
        padding-top: 6px;
    }
    .ad-widget-small-weibo .ec-weibo-text {
        height: 36px;
        overflow: hidden;
    }
    .ad-widget-button-group {
        background-color: #ceab97;
        padding: 3px 0;
        td {
            border-right: 1px #dcc6b9 solid;
        }
        a {
            color: #fff;
        }
    }
    .ad-block-2 {
        margin-top: 4px;
    }
    .ad-widget-image-normal {
        .ec-opacity-bg {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 24px;
            width: 100%;
            background-color: #bc937d;
            .opacity(85);
        }
        span {
            position: absolute;
            color: #fff;
            .opacity(100);
            line-height: 24px;
        }
        a {
            width: 127px;
            margin-right: 5px;
        }
        img {
            border: none;
        }
        .ec-last {
            margin-right: 0;
        }
    }
}

.ec-yaying-fwc .ad-widget-float-window-container {
    .ec-cont {
        top: 136px;
    }
    .ad-widget-video {
        position: absolute;
        left: 35px;
        width: 400px;
        height: 250px;
    }
    .ec-fwcon-1 {
        background-color: #302724;
        width: 208px;
        height: 240px;
        position: absolute;
        left: 450px;
        padding: 5px 8px 5px 16px;
    }
    .ad-widget-image-normal {
        a {
            width: 104px;
            margin: 0 0 7px;
            img {
                border: none;
                width: 97px;
                height: 116px;
            }
        }
    }
}








/* vim: set ts=4 sw=4 sts=4 tw=100: */
