/* 颜色 */
/**
 * 水平分隔线
 */
hr {
  height: 0;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #e6f1fb;
  background: none;
  color: transparent;
}
h2 {
  font-size: 12px;
  font-weight: 700;
}
.jn-normal {
  color: #008000;
}
.jn-alert {
  color: #ff0000;
}
.jn-warning {
  color: #ff9a00;
}
.jn-aux {
  color: #9c9a9c;
}
/**
 * 名值对表格
 * 属性名右对齐 & 属性值左对齐
 */
/**
 * 基本的行，对内部的控件做对齐的处理
 */
.jn-row {
  *zoom: 1;
  line-height: 24px;
}
.jn-row:before,
.jn-row:after {
  display: table;
  content: "";
}
.jn-row:after {
  clear: both;
}
.jn-row a,
.jn-row span,
.jn-row em,
.jn-row strong,
.jn-row .ui-checkbox,
.jn-row .ui-radiobox,
.jn-row .ui-checkbox-label,
.jn-row .ui-radiobox-label,
.jn-row .ui-select,
.jn-row .ui-combobox,
.jn-row .ui-button,
.jn-row .ui-text,
.jn-row .ui-textarea,
.jn-row .ui-cal,
.jn-row .ui-rcal,
.jn-row .ui-buttonmenu {
  float: left;
  margin-right: 10px;
}
.jn-row .jn-group {
  float: left;
  margin-right: 5px;
  /* FIXME: 粗糙地解决 webkit 下 float 内容最后一项折行问题 */

}
.jn-row .jn-group a,
.jn-row .jn-group span,
.jn-row .jn-group em,
.jn-row .jn-group strong,
.jn-row .jn-group .ui-checkbox,
.jn-row .jn-group .ui-radiobox,
.jn-row .jn-group .ui-checkbox-label,
.jn-row .jn-group .ui-radiobox-label,
.jn-row .jn-group .ui-select,
.jn-row .jn-group .ui-combobox,
.jn-row .jn-group .ui-button,
.jn-row .jn-group .ui-text,
.jn-row .jn-group .ui-textarea,
.jn-row .jn-group .ui-cal,
.jn-row .jn-group .ui-rcal,
.jn-row .jn-group .ui-buttonmenu {
  margin-right: 5px;
}
.webkit .jn-row .jn-group {
  float: none;
}
.webkit .jn-row .jn-group  > *:last-child {
  margin-right: 10px;
}
.jn-row .ui-mcal-text {
  margin-right: 0;
}
.jn-row .floatright {
  float: right;
  margin-right: 10px;
}
.jn-row .ui-rcal .ui-cal,
.jn-row .ui-rcal .ui-select {
  margin-right: 0;
}
.jn-row .ui-checkbox,
.jn-row .ui-radiobox {
  display: inline;
  margin-top: 5px;
  *margin-top: 0;
  margin-right: 4px;
}
.jn-row .ui-checkbox-label,
.jn-row .ui-radiobox-label {
  display: inline;
  margin-right: 20px;
  line-height: 24px;
}
.jn-row .ui-select,
.jn-row .ui-combobox,
.jn-row .ui-button,
.jn-row .ui-text,
.jn-row .ui-textarea,
.jn-row .ui-cal,
.jn-row .ui-buttonmenu {
  margin-top: 1px;
}
.jn-row .ui-textline .ui-textarea {
  margin-top: 0;
}
.jn-row .ui-text {
  *margin-top: 1px;
  vertical-align: top;
}
.jn-row .ui-textarea {
  margin-right: 5px;
}
.jn-row .ui-textline .ui-textarea {
  float: none;
  margin: 0;
}
.ui-dialog .jn-row {
  margin-bottom: 8px;
}
/* 次级页面顶部导航链接区域 */
.jn-link-nav {
  margin-bottom: 10px;
}
.jn-link-nav hr {
  margin: 5px 0;
}
.jn-link-nav h2 {
  margin: 5px 0 10px;
}
.jn-link-nav .ui-progresstracker {
  margin: 5px 0 4px;
}
.jn-none {
  display: none !important;
}
.jn-flat {
  overflow: hidden          !important;
  margin-top: 0             !important;
  margin-bottom: 0          !important;
  border-top-style: none    !important;
  border-bottom-style: none !important;
  padding-top: 0            !important;
  padding-bottom: 0         !important;
  height: 0                 !important;
}
/**
 * 表格/表单区域容器样式
 **/
.jn-form-segment,
.jn-form-segment-upper {
  border: 1px solid #bad5f1;
  _border-bottom: none;
}
.jn-form-segment  + .jn-form-segment,
.jn-form-segment-upper  + .jn-form-segment {
  border-top: none;
}
.jn-form-segment h3,
.jn-form-segment-upper h3 {
  height: 29px;
  margin: 0;
  border-bottom: 1px solid #bad5f1;
  padding: 0 10px;
  background: url("/assets/img/coupFormTitleBar.png") repeat-x 0 0;
  font-size: 12px;
  line-height: 29px;
}
.jn-form-block,
.jn-form-block-upper {
  border: 1px solid #bad5f1;
  margin: 0 0 20px 0;
}
.jn-form-block h3,
.jn-form-block-upper h3,
.jn-form-block caption,
.jn-form-block-upper caption {
  margin: 0;
  border-bottom: 1px solid #bad5f1;
  padding: 10px;
  background-color: #f1f6fc;
  font-size: 12px;
  line-height: 1;
}
.jn-form-block caption,
.jn-form-block-upper caption {
  border: 1px solid #bad5f1;
  border-bottom: none;
  font-weight: 700;
}
.jn-form-block-upper,
.jn-form-segment-upper {
  margin-bottom: 0;
}
.jn-form-block-upper .jn-form-body,
.jn-form-segment-upper .jn-form-body {
  border-top: 1px solid #bad5f1;
}
.jn-form-block-upper,
.jn-form-segment-upper,
.jn-form-block-upper .jn-form-body,
.jn-form-segment-upper .jn-form-body,
.jn-form-block-upper h3,
.jn-form-segment-upper h3 {
  border-bottom: none;
}
table.jn-form-block {
  width: 100%;
}
.jn-form-body {
  *zoom: 1;
  padding: 8px 10px;
}
.jn-form-body:before,
.jn-form-body:after {
  display: table;
  content: "";
}
.jn-form-body:after {
  clear: both;
}
.jn-form-segment-last {
  margin-bottom: 20px;
  /* FIXME: 非 IE6 浏览器也暂时依赖此项设置 */

  border-bottom: 1px solid #bad5f1;
}
/**
 * 详细信息表格/表单
 **/
.jn-detail-form {
  *table-layout: auto;
  line-height: 24px;
}
.jn-detail-form td,
.jn-detail-form th {
  padding: 2px 5px 2px 2px;
  vertical-align: top;
}
.jn-detail-form th {
  text-align: right;
  font-weight: 400;
  color: #666666;
}
.jn-detail-form td {
  text-align: left;
}
.jn-detail-form .jn-detail-form th {
  width: auto;
}
.jn-detail-form td,
.jn-detail-form th {
  padding: 6px 5px 6px 2px;
}
.jn-detail-form .ui-table td,
.jn-detail-form .ui-table th {
  padding: 0;
}
.jn-detail-form th {
  width: 130px;
}
.jn-detail-form td .jn-row {
  margin-bottom: 5px;
}
.jn-detail-form td {
  *zoom: 1;
  line-height: 24px;
  display: table-cell;
}
.jn-detail-form td:before,
.jn-detail-form td:after {
  display: table;
  content: "";
}
.jn-detail-form td:after {
  clear: both;
}
.jn-detail-form td a,
.jn-detail-form td span,
.jn-detail-form td em,
.jn-detail-form td strong,
.jn-detail-form td .ui-checkbox,
.jn-detail-form td .ui-radiobox,
.jn-detail-form td .ui-checkbox-label,
.jn-detail-form td .ui-radiobox-label,
.jn-detail-form td .ui-select,
.jn-detail-form td .ui-combobox,
.jn-detail-form td .ui-button,
.jn-detail-form td .ui-text,
.jn-detail-form td .ui-textarea,
.jn-detail-form td .ui-cal,
.jn-detail-form td .ui-rcal,
.jn-detail-form td .ui-buttonmenu {
  float: left;
  margin-right: 10px;
}
.jn-detail-form td .jn-group {
  float: left;
  margin-right: 5px;
  /* FIXME: 粗糙地解决 webkit 下 float 内容最后一项折行问题 */

}
.jn-detail-form td .jn-group a,
.jn-detail-form td .jn-group span,
.jn-detail-form td .jn-group em,
.jn-detail-form td .jn-group strong,
.jn-detail-form td .jn-group .ui-checkbox,
.jn-detail-form td .jn-group .ui-radiobox,
.jn-detail-form td .jn-group .ui-checkbox-label,
.jn-detail-form td .jn-group .ui-radiobox-label,
.jn-detail-form td .jn-group .ui-select,
.jn-detail-form td .jn-group .ui-combobox,
.jn-detail-form td .jn-group .ui-button,
.jn-detail-form td .jn-group .ui-text,
.jn-detail-form td .jn-group .ui-textarea,
.jn-detail-form td .jn-group .ui-cal,
.jn-detail-form td .jn-group .ui-rcal,
.jn-detail-form td .jn-group .ui-buttonmenu {
  margin-right: 5px;
}
.webkit .jn-detail-form td .jn-group {
  float: none;
}
.webkit .jn-detail-form td .jn-group  > *:last-child {
  margin-right: 10px;
}
.jn-detail-form td .ui-mcal-text {
  margin-right: 0;
}
.jn-detail-form td .floatright {
  float: right;
  margin-right: 10px;
}
.jn-detail-form td .ui-rcal .ui-cal,
.jn-detail-form td .ui-rcal .ui-select {
  margin-right: 0;
}
.jn-detail-form td .ui-checkbox,
.jn-detail-form td .ui-radiobox {
  display: inline;
  margin-top: 5px;
  *margin-top: 0;
  margin-right: 4px;
}
.jn-detail-form td .ui-checkbox-label,
.jn-detail-form td .ui-radiobox-label {
  display: inline;
  margin-right: 20px;
  line-height: 24px;
}
.jn-detail-form td .ui-select,
.jn-detail-form td .ui-combobox,
.jn-detail-form td .ui-button,
.jn-detail-form td .ui-text,
.jn-detail-form td .ui-textarea,
.jn-detail-form td .ui-cal,
.jn-detail-form td .ui-buttonmenu {
  margin-top: 1px;
}
.jn-detail-form td .ui-textline .ui-textarea {
  margin-top: 0;
}
.jn-detail-form td .ui-text {
  *margin-top: 1px;
  vertical-align: top;
}
.jn-detail-form td .ui-textarea {
  margin-right: 5px;
}
.jn-detail-form td .ui-textline .ui-textarea {
  float: none;
  margin: 0;
}
.ui-dialog .jn-detail-form td {
  margin-bottom: 8px;
}
