/* 颜色 */
/**
 * 水平分隔线
 */
hr {
  height: 0;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #e6f1fb;
  background: none;
  color: transparent;
}
h2 {
  font-size: 12px;
  font-weight: 700;
}
.jn-normal {
  color: #008000;
}
.jn-alert {
  color: #ff0000;
}
.jn-warning {
  color: #ff9a00;
}
.jn-aux {
  color: #9c9a9c;
}
/**
 * 名值对表格
 * 属性名右对齐 & 属性值左对齐
 */
/**
 * 基本的行，对内部的控件做对齐的处理
 */
.jn-row {
  *zoom: 1;
  line-height: 24px;
}
.jn-row:before,
.jn-row:after {
  display: table;
  content: "";
}
.jn-row:after {
  clear: both;
}
.jn-row a,
.jn-row span,
.jn-row em,
.jn-row strong,
.jn-row .ui-checkbox,
.jn-row .ui-radiobox,
.jn-row .ui-checkbox-label,
.jn-row .ui-radiobox-label,
.jn-row .ui-select,
.jn-row .ui-combobox,
.jn-row .ui-button,
.jn-row .ui-text,
.jn-row .ui-textarea,
.jn-row .ui-cal,
.jn-row .ui-rcal,
.jn-row .ui-buttonmenu {
  float: left;
  margin-right: 10px;
}
.jn-row .jn-group {
  float: left;
  margin-right: 5px;
  /* FIXME: 粗糙地解决 webkit 下 float 内容最后一项折行问题 */

}
.jn-row .jn-group a,
.jn-row .jn-group span,
.jn-row .jn-group em,
.jn-row .jn-group strong,
.jn-row .jn-group .ui-checkbox,
.jn-row .jn-group .ui-radiobox,
.jn-row .jn-group .ui-checkbox-label,
.jn-row .jn-group .ui-radiobox-label,
.jn-row .jn-group .ui-select,
.jn-row .jn-group .ui-combobox,
.jn-row .jn-group .ui-button,
.jn-row .jn-group .ui-text,
.jn-row .jn-group .ui-textarea,
.jn-row .jn-group .ui-cal,
.jn-row .jn-group .ui-rcal,
.jn-row .jn-group .ui-buttonmenu {
  margin-right: 5px;
}
.webkit .jn-row .jn-group {
  float: none;
}
.webkit .jn-row .jn-group  > *:last-child {
  margin-right: 10px;
}
.jn-row .ui-mcal-text {
  margin-right: 0;
}
.jn-row .floatright {
  float: right;
  margin-right: 10px;
}
.jn-row .ui-rcal .ui-cal,
.jn-row .ui-rcal .ui-select {
  margin-right: 0;
}
.jn-row .ui-checkbox,
.jn-row .ui-radiobox {
  display: inline;
  margin-top: 5px;
  *margin-top: 0;
  margin-right: 4px;
}
.jn-row .ui-checkbox-label,
.jn-row .ui-radiobox-label {
  display: inline;
  margin-right: 20px;
  line-height: 24px;
}
.jn-row .ui-select,
.jn-row .ui-combobox,
.jn-row .ui-button,
.jn-row .ui-text,
.jn-row .ui-textarea,
.jn-row .ui-cal,
.jn-row .ui-buttonmenu {
  margin-top: 1px;
}
.jn-row .ui-textline .ui-textarea {
  margin-top: 0;
}
.jn-row .ui-text {
  *margin-top: 1px;
  vertical-align: top;
}
.jn-row .ui-textarea {
  margin-right: 5px;
}
.jn-row .ui-textline .ui-textarea {
  float: none;
  margin: 0;
}
.ui-dialog .jn-row {
  margin-bottom: 8px;
}
/* 次级页面顶部导航链接区域 */
.jn-link-nav {
  margin-bottom: 10px;
}
.jn-link-nav hr {
  margin: 5px 0;
}
.jn-link-nav h2 {
  margin: 5px 0 10px;
}
.jn-link-nav .ui-progresstracker {
  margin: 5px 0 4px;
}
.jn-none {
  display: none !important;
}
.jn-flat {
  overflow: hidden          !important;
  margin-top: 0             !important;
  margin-bottom: 0          !important;
  border-top-style: none    !important;
  border-bottom-style: none !important;
  padding-top: 0            !important;
  padding-bottom: 0         !important;
  height: 0                 !important;
}
.jn-summary-wrapper {
  border: 1px solid #bad5f1;
  border-bottom: none;
}
.jn-summary-wrapper .jn-row {
  padding: 8px 0 8px 10px;
}
.jn-summary-wrapper .ui-form {
  border-bottom: 1px solid #e7f1fb;
}
.jn-summary-wrapper .ui-form:last-child {
  border-bottom: none;
}
.jn-summary {
  padding: 10px;
  border-bottom: 1px solid #dbebfa;
  background-color: #f1f6fc;
  /* TODO: 寻找更好的方案：IE6/7 下 <table> 的 margin-bottom 加到 parent 上去了... */

  overflow: hidden;
}
.jn-summary .jn-breadcrumb-row {
  *zoom: 1;
  padding: 0;
}
.jn-summary .jn-breadcrumb-row:before,
.jn-summary .jn-breadcrumb-row:after {
  display: table;
  content: "";
}
.jn-summary .jn-breadcrumb-row:after {
  clear: both;
}
.jn-summary .jn-breadcrumb-row h2,
.jn-summary .jn-breadcrumb-row .ui-breadcrumb,
.jn-summary .jn-breadcrumb-row .jn-group {
  float: left;
  margin: 0 2px;
}
.ie .jn-summary .jn-breadcrumb-row h2,
.ie .jn-summary .jn-breadcrumb-row .ui-breadcrumb,
.ie .jn-summary .jn-breadcrumb-row .jn-group {
  line-height: 1.231;
  /* magic number 用来修复 IE 下纯中文上浮的问题 */

}
.jn-summary .jn-breadcrumb-row h2 {
  margin-top: 0;
}
.jn-summary .jn-breadcrumb-row .jn-group {
  margin-left: 15px;
}
.jn-summary .jn-breadcrumb-row .jn-group a,
.jn-summary .jn-breadcrumb-row .jn-group span {
  margin-right: 5px;
}
.jn-summary .jn-summary-table {
  margin-top: 10px;
  _margin-bottom: 0;
  _border-bottom: 10px solid #f1f6fc;
}
/**
 * 摘要信息表格
 **/
.jn-summary-table {
  *table-layout: auto;
  line-height: 24px;
  clear: both;
  margin-top: 5px;
  line-height: 1.5;
}
.jn-summary-table td,
.jn-summary-table th {
  padding: 2px 5px 2px 2px;
  vertical-align: top;
}
.jn-summary-table th {
  text-align: right;
  font-weight: 400;
  color: #666666;
}
.jn-summary-table td {
  text-align: left;
}
.jn-summary-table th {
  padding: 5px 0 0;
  white-space: nowrap;
  color: #9c9a9c;
}
.jn-summary-table td {
  padding: 5px 15px 0 0;
  white-space: nowrap;
}
.jn-summary-table td a,
.jn-summary-table td span,
.jn-summary-table td em,
.jn-summary-table td strong {
  margin-right: 10px;
}
.jn-tab-bar {
  *zoom: 1;
  border-top: 1px solid #f1f6fc;
  border-bottom: 1px solid #dbebfa;
  padding: 3px 10px 0;
  background-color: #e7f1fb;
}
.jn-tab-bar:before,
.jn-tab-bar:after {
  display: table;
  content: "";
}
.jn-tab-bar:after {
  clear: both;
}
.jn-tab-bar .ui-tab {
  float: left;
  margin-top: 4px;
}
.jn-tab-bar .ui-mcal {
  float: right;
  margin-top: 1px;
}
.jn-summary-chart {
  *zoom: 1;
  border: 1px solid #e7f1fb;
  border-style: none none solid;
}
.jn-summary-chart:before,
.jn-summary-chart:after {
  display: table;
  content: "";
}
.jn-summary-chart:after {
  clear: both;
}
.jn-pie-chart {
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #e7f1fb;
}
.jn-pie-chart .ui-table,
.jn-pie-chart .ui-flash {
  float: left;
}
.jn-pie-chart .ui-table {
  margin: 20px 55px 20px 40px;
}
.jn-list-operation {
  *zoom: 1;
  border-top: 1px solid white;
  padding: 3px 0 4px 10px;
  background-color: #f1f6fc;
}
.jn-list-operation:before,
.jn-list-operation:after {
  display: table;
  content: "";
}
.jn-list-operation:after {
  clear: both;
}
.jn-list-operation .ui-select,
.jn-list-operation .ui-button {
  float: left;
  margin-right: 5px;
}
.jn-list-operation .jn-group {
  _overflow: hidden;
  float: left;
  height: 22px;
  margin-right: -5px;
  margin-left: 5px;
  border-left: 1px solid #9c9a9c;
  padding-left: 5px;
}
.jn-list-operation .jn-group:first-child,
.jn-list-operation .jn-group-first {
  margin-left: 0;
  border: none;
  padding: 0;
}
.jn-list-operation .floatright {
  float: right;
  margin-right: 10px;
}
.jn-list-operation a,
.jn-list-operation span,
.jn-list-operation em,
.jn-list-operation strong {
  display: block;
  height: 22px;
  line-height: 22px;
}
.list-table-foot {
  padding-top: 2px;
}
