/**
 * src/ad/widget/button_list.less 2013-07-18 16:42:45;
 * @author xiongjie01
 * @description
 * button_list css
 **/


.ad-widget-button-list {
    font: normal 13px arial, sans-serif;
    td {
        padding: 0 6px 0 0;
    }
    .ec-link-wrapper {
        border: 1px solid #d1c8b1;
        text-align: center;
        line-height: 20px;
        height: 20px;
        background-color: #EFF8F0;
        a {
            color: #564f32;
            text-decoration: none;
        }
    }
    .ec-last {
        padding-right: 0;
    }
}




















/* vim: set ts=4 sw=4 sts=4 tw=100: */
