/**
 * src/ad/widget/game_header.less ~ 2013-07-29 10:45:05;
 * @author xiongjie01
 * @description game cpc htmltext
 *  
 **/
.ad-widget-htmltext .ec-htmltext-desc {
  font-size: 13px;
  color: #000;
  margin: 0;
  line-height: 26px;
  background-color: #fafafa;
  border-bottom: 1px solid #f5f5f5;
}
.ad-widget-htmltext .ec-htmltext-desc em {
  font-style: normal;
  color: #f00;
}
/* vim: set ts=4 sw=4 sts=4 tw=100: */
