/**
 * @author wangdawei04@baidu.com (wangdawei)
 **/
.ad-widget-iermu {
  position: relative;
  width: 342px;
  height: 192px;
  background: url(//bs.baidu.com/adtest/9a63d888c382957c343ccd553ed63be7.png) 0 0 no-repeat;
}
