.ad-widget-image {
  position: relative;
  zoom: 1;
}
.ad-widget-image img {
  display: block;
  border: none;
}
.ad-widget-image .ad-widget-image-layer {
  position: absolute;
  bottom: 0;
  height: 22px;
  line-height: 22px;
  background-color: #cccccc;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
}
.ad-widget-image .ad-widget-image-layer a,
.ad-widget-image .ad-widget-image-layer span {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
