@import-once "mixins.less";

.ad-widget-image {
    position: relative;
    zoom: 1;

    img {
        display: block;
        border: none;
    }

    .ie-background-opacity(@color) {
        background-color: @color;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", argb(@color), argb(@color)));
        -ms-filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", argb(@color), argb(@color)));
    }

    .ad-widget-image-layer {
        position: absolute;
        bottom: 0;
        height: 22px;
        line-height: 22px;
        background-color: rgb(204, 204, 204);
        color: white;
        font-size: 12px;

        a,
        span {
            padding-left: 10px;
            padding-right: 10px;
            color: white;
        }

        .ie-background-opacity(rgba(0, 0, 0, 0.5));
    }
}
